<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cerish.mapper.AdminMapper">
    <resultMap id="BaseResultMap" type="cn.cerish.entity.Admin">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="username" jdbcType="CHAR"/>
        <result column="password" property="password" jdbcType="CHAR"/>
        <result column="mobile" property="mobile" jdbcType="CHAR"/>
        <result column="gender" property="gender" jdbcType="BIT"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <result column="role_id" property="roleId" jdbcType="INTEGER"/>
        <result column="rname" property="roleName" jdbcType="CHAR"/>
        <result column="rnameZh" property="roleNameZh" jdbcType="CHAR"/>
        <result column="is_leader" property="isLeader" jdbcType="BIT"/>
        <result column="email" property="email" jdbcType="CHAR"/>
    </resultMap>
    <select id="getAdminById" resultMap="BaseResultMap">
        select a.*, r.name as rname, r.nameZh as rnameZh from admin as a
        inner join (select id, name, nameZh from role) as r on a.role_id = r.id
        where a.id = #{id}
    </select>
    <select id="loadUserByUsername" resultMap="BaseResultMap">
        select a.*, r.name as rname, r.nameZh as rnameZh from admin as a
        inner join (select id, name, nameZh from role) as r on a.role_id = r.id
        where a.name = #{username}
    </select>
    <select id="getAdminByPage" resultMap="BaseResultMap">
        select a.*, r.name as rname, r.nameZh as rnameZh from admin as a
        inner join (select id, name, nameZh from role) as r on a.role_id = r.id
        <where>
            <if test="admin.isLeader != -1">
                is_leader = #{admin.isLeader, jdbcType = INTEGER}
            </if>
        </where>
        <if test="page != null and size != null">
            limit #{page},#{size}
        </if>
    </select>
    <select id="getTotal" resultType="java.lang.Long">
        select count(*) from admin
        <where>
            <if test="admin.isLeader != -1">
                is_leader = #{admin.isLeader, jdbcType = INTEGER}
            </if>
        </where>
    </select>
    <update id="updateAdminById" parameterType="cn.cerish.entity.Admin">
        update admin
        <set>
            <if test="username != null">
                name = #{username,jdbcType=CHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=CHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=CHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=CHAR},
            </if>
            <if test="gender != -1">
                gender = #{gender,jdbcType=BIT},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
            <if test="isLeader != -1">
                is_leader = #{isLeader,jdbcType=INTEGER},
            </if>
            <if test="userface != null">
                userface = #{userface,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteAdminById" parameterType="java.lang.Integer">
        delete from admin
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="addAdmin" parameterType="cn.cerish.entity.Admin" useGeneratedKeys="true">
        insert into admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="isLeader != -1">
                is_leader,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=CHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=CHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=CHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=CHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=BIT},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=BIT},
            </if>
            <if test="isLeader != -1">
                #{isLeader,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
</mapper>