<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cerish.mapper.MyUserDetailMapper">
    <resultMap id="BaseResultMap" type="cn.cerish.entity.MyUserDetail">
        <id column="uid" property="userId" jdbcType="INTEGER"/>
        <result column="uname" property="username" jdbcType="CHAR"/>
        <result column="rid" property="roleId" jdbcType="INTEGER"/>
        <result column="rname" property="roleName" jdbcType="CHAR"/>
        <result column="rnameZh" property="roleNameZh" jdbcType="CHAR"/>
    </resultMap>
    <select id="getUserDetail" resultMap="BaseResultMap">
        select u.id, u.name from
    </select>
</mapper>
