<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cerish.mapper.UserMapper">
    <!--  自定义的 表格列 - 类属性 对应  -->
    <resultMap id="BaseResultMap" type="cn.cerish.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="CHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="UserWithRoles" type="cn.cerish.entity.User" extends="BaseResultMap">
        <collection property="roles" ofType="cn.cerish.entity.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnameZh" property="nameZh"/>
        </collection>
    </resultMap>


    <!--  获取全部用户（keywords条件）  -->
    <select id="getAllUsers" resultMap="UserWithRoles">
        select u.id, u.phone, u.telephone, u.address, u.enabled, u.username, u.gender, u.email, u.create_time,
        r.`id` as rid, r.`name` as rname, r.`nameZh` as rnameZh
        from user as u left join user_role ur on
        u.`id`=ur.`uid` left join role as r on ur.`rid`=r.`id`
        <if test="keywords!=null">
            and u.username like concat('%',#{keywords},'%')
        </if>
        order by u.id
    </select>
    <!--  通过Id查用户  -->
    <select id="findUserById" resultMap="BaseResultMap">
        select * from user where id = #{id}
    </select>
    <!--  通过用户名查用户  -->
    <select id="loadUserByUsername"  resultMap="BaseResultMap">
        select * from user where username = #{username}
    </select>
    <!--  插入一个用户  -->
    <insert id="signup" parameterType="cn.cerish.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="email != null">
                email
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=CHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=BIT},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=BIT},
            </if><if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>